/* Selector Grouping */
h3, h2 {
    background-color: black;
}

/* Single Selector */
h1 {
    font-size: 15px;
}

/* Atribute ID */
#textNama {
    font-weight: bold;
}

/* Atribute Class */
.textMessage {
    text-align: center;
}

/* Universal Selector */
* {
    color: black;
}
